<div role="navigation">
  <ul class="nav">
    <li><%= link_to "New Releases", movies_index_path(new_release: "true") %></li>
    <li><%= link_to "Action", movies_index_path(genre: "action") %></li>
    <li><%= link_to "Comedy", movies_index_path(genre: "comedy") %></li>
    <li><%= link_to "Drama", movies_index_path(genre: "drama") %></li>
    <li><%= link_to "Fantasy", movies_index_path(genre: "fantasy") %></li>
  </ul>
</div>